# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-arg.txt

# Editor/IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# FastAPI/Project specific
.env
db.sqlite3 # Or other database files like *.db, if using SQLite
logs/
*.log